.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.dashboard-layout.desktop {
  flex-direction: row;
}

.dashboard-layout.mobile {
  flex-direction: column;
}

.dashboard-content {
  flex-grow: 1;
  transition: margin 0.3s ease;
}

.dashboard-layout.desktop .dashboard-content {
  margin-left: 60px;
  margin-top: 56px;
}

.dashboard-layout.desktop .sidebar.expanded ~ .dashboard-content {
  margin-left: 220px;
}

.dashboard-layout.mobile .dashboard-content {
  margin-left: 0;
  margin-top: 116px; /* 56px (navbar) + 60px (sidebar) */
}

@media (max-width: 1024px) {
  .dashboard-layout.mobile .dashboard-content {
    width: 100%;
  }
}