.dashboard-layout {
  display: flex;
  min-height: calc(100vh - 56px); /* Altezza totale meno l'altezza della navbar */
}

.dashboard-content {
  flex-grow: 1;
  margin-left: 60px;
  transition: margin-left 0.3s ease;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .dashboard-content {
    margin-left: 50px;
  }
}