dashboard-layout {
  display: flex;
  min-height: calc(100vh - 56px); /* Altezza totale meno l'altezza della navbar */
}

.dashboard-content {
  flex-grow: 1;
  margin-left: 60px; /* Margine sinistro uguale alla larghezza della sidebar */
  transition: margin-left 0.3s ease;
  overflow-y: auto;
}

/* Modifica per la Guided Tour */
.joyride-tour-active .dashboard-content {
  margin-left: 60px; /* Mantieni l'allineamento durante il tour */
  transition: none; /* Disabilita le transizioni per evitare scatti */
}

@media (max-width: 767px) {
  .dashboard-content {
    margin-left: 50px;
  }
}