.sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 60px; /* Larghezza fissa quando non espansa */
  background-color: #212529;
  transition: width 0.3s ease;
  overflow-x: hidden;
  z-index: 1020;
}

.sidebar.expanded {
  width: 220px; /* Larghezza quando espansa */
}

.sidebar-toggle {
  display: block;
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  background-color: #212529; /* Colore di sfondo normale */
}

.sidebar-item:hover, .sidebar-item.active {
  background-color: #1a1e21; /* Colore di sfondo al passaggio del mouse o quando attivo */
  color: #ffffff;
}

.sidebar-icon {
  font-size: 1.2rem;
  min-width: 30px;
  margin-right: 10px;
}

.sidebar-label {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.expanded .sidebar-label {
  opacity: 1;
}

body:not(.joyride-tour-active) .sidebar:hover {
  width: 220px;
}

body:not(.joyride-tour-active) .sidebar:hover .sidebar-label {
  opacity: 1;
}

/* Gestione della sidebar durante la guided tour */
.joyride-tour-active .sidebar {
  width: 60px; /* Forziamo la larghezza minima */
  transition: none; /* Nessuna transizione durante il tour */
}

.joyride-tour-active .sidebar .sidebar-item {
  background-color: #212529; /* Mantieni il colore di sfondo */
  color: #ffffff;
}

.joyride-tour-active .sidebar-item.active {
  background-color: #212529; /* Evita che l'elemento attivo cambi colore */
}

.joyride-tour-active .sidebar .sidebar-label {
  opacity: 0; /* Nascondi le etichette */
}

.joyride-tour-active .sidebar-icon {
  margin-right: 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 50px;
  }
  
  .sidebar.expanded {
    width: 220px;
  }
}

.react-joyride__spotlight {
  border-radius: 4px !important;
}

.react-joyride__overlay {
  pointer-events: none;
}

.sidebar .sidebar-item,
.sidebar-toggle {
  pointer-events: auto;
}

/* Assicurati che gli elementi della sidebar siano visibili e ripristinati dopo il tour */
.joyride-tour-active .sidebar,
.joyride-tour-active .sidebar-item,
.joyride-tour-active .sidebar-icon {
  visibility: visible;
  opacity: 1;
}